    p {
    text-align: center;
     
}

.board {
    
    width:620px;
    height:620px;
    
    
    
}

.cell {
    
    width: 60px;
    height: 60px;
    border: solid black 1px;
    float: left;
    }
        

.black
  {
    background: gray;
  }
  
  
  

  


 

