  table.CHESS
  {
    border-collapse: collapse;
  }

  table.CHESS td
  {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    text-align: center;
  }
  
  td.black
  {
    background: gray;
  }
  
  .ch
  {
    background-image: url(../assets/img/chess.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    
      }
      
  .bl {    
      background-position-y: 0px;
      
  }
  
  .wh
  {
      background-position-y: -52px;
    
  }
  
  .pesh {
    background-position-x: -262px;
    
  }
  
  .lad {
    background-position-x: -102px;
    
  }
  
  .hor {
    
   background-position-x: -210px;
  }
  
  .off {
    background-position-x: -155px;
    
  }
  
  .king {
    background-position-x: 5px;
    
  }
  
  .cir {
    background-position-x: -48px;
    
  }